doctype html

html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/material.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  body
    h1 Pug - node template engine
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Button
    script(src='js/material.min.js')
